html {
    font-family: 'Open Sans', sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 20px;
    background: #667a90;
    font-weight: 600;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input[type='number'] {
    -moz-appearance:textfield;
}

.wrapper{
    position: relative;
    margin: 200px 300px;
}
.back-side{
    position: absolute;
    padding: 30px 35px;
    width: 440px;
    height: 245px;
    top:35px;
    left:140px;
    background-color: #d9d9d9;
    border-radius: 8px;
    z-index: 1;
}
.back-content{
    margin: 115px 0 50px 350px;
    min-height: 50px;
}
.front-side{
    position: absolute;
    padding: 30px 35px;
    width: 440px;
    z-index: 200;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 3px 3px 4px rgba(199,199,199,1);
}
.logo{
    position: absolute;
    top:50px;
    left:380px;
    z-index: 400;
}

input{
    padding: 10px;
    border: 2px solid #d1d9dc;
    border-radius: 4px;
}
.card-number{
    width: 285px;
    margin-bottom: 13px;
}
.card-month, .card-year{
    float:left;
    width: 90px;
    margin: 5px 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card-name{
    width:400px;
    margin-top: 5px;
}
.num-spin-down{
    margin:26px 5px 10px -42px;
    float:left;
    background: url('../img/spin.png') #fff 50% -95% no-repeat;
    height: 20px;
    width: 35px;
    border-right: 2px solid #d1d9dc;
    border-bottom: 2px solid #d1d9dc;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.num-spin-up{
    margin:5px 5px 10px 0;
    float:left;
    background: url('../img/spin.png') #fff 50% 195% no-repeat;
    height: 20px;
    width: 35px;
    border: 2px solid #d1d9dc;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.num-spin-up:active{
    background-color: #f0f0f0;
    opacity: 0.6;
}
.num-spin-down:active{
    background-color: #f0f0f0;
    opacity: 0.6;
}

.cvc-number{
    width: 60px;
    margin: 5px 0;
}

.cvc-text{
    display: block;
    width: 80px;
    min-height: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.rectangle{
    position: absolute;
    right: 0;
    margin-top: 30px;
    width: 140px;
    height: 65px;
    background: black;
}

  @-moz-document url-prefix() {
                        .num-spin-down {
                        height: 21px;
                    }
                    }



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}